p {
  text-align: center;
}
.example-card {
  max-width: 240px;
  margin-right: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
}
.mat-card-title {
  text-align: center;
}

::ng-deep .mat-tab-label {
  font-size: 19px;
}

.mentors-card {
  width: 25%;
  margin-right: 40px;

}

.mentors-cards{
  margin-left: 10%;
  margin-top: 30px;
}

.add-button{
  margin-right: 10px;
}

.mentor-card-buttons{
  margin-top: 20px;
}


