.navbar {
  display: flex;
  justify-content: space-between;
  //justify-content: left;

  div {
    display: flex;
    a {
      padding-left: 0;
    }
  }
}

#home-icon {
  font-size: 36px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.navbar .exit {
  margin-left: auto;
  padding-right: 0;
}

.mentorName {
  color: antiquewhite;
  margin-right: 20px;
}

