p {
  text-align: center;
}
.example-card {
  max-width: 240px;
  margin-right: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
}
.mat-card-title {
  text-align: center;
}

::ng-deep .mat-tab-label {
  font-size: 19px;
}

.savedEvaluationText {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
  color:rebeccapurple;
  height: 20px;
}

