p {
  text-align: center;
}
.example-card {
  max-width: 250px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
}

.mat-raised-button.myButton{
  margin-left: 0;
}

.mat-raised-button.viewButton{
  margin-top: 10px;
}

.savedEvaluationText{
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
  color:rebeccapurple;
  height: 20px;
}
