#content-wrapper {
  height: 100%;
}

p {
  text-align: center;
}
.container {
  min-height: 93%;
  background: #f5f5f5;
  //height: 100%;
  padding-bottom: 40px;

  mat-tab-group {
    background: white;
    border-radius: 30px;
    margin: 0 15% auto 15%;
    padding: 20px;
    min-height: 70vh;
  }
}

.example-card {
  max-width: 240px;
  margin-right: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;

  > div {
    margin-bottom: 10px;
  }
}
.mat-card-title {
  text-align: center;
}

::ng-deep .mat-tab-label {
  font-size: 19px;
}

.savedEvaluationText {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
  color:rebeccapurple;
  height: 20px;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}

mat-spinner {
  margin: 20% auto auto auto;
}
