.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 0;

  div {
    display: flex;
    margin: 0 15%;
    #exit {
      margin: auto 20px;
    }
  }
}

#home-icon {
  font-size: 36px;
  padding-right: 20px;
  padding-bottom: 10px;
}



.admin-label {
  color: antiquewhite;
  margin-right: 20px;
  margin-top: 1px;
  font-weight: 100;
  font-size: 18px;
  b {
    font-weight: 500;
  }
}
