.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#contract{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contract-div{
  margin-top: 20px;
  margin-bottom: 20px;
}

.prefereces-div{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  margin-top: 20px;
}
