.mat-card-header .mat-card-title{
  position: absolute;
  left: 0px;
  top: 198px;
}
div.container {
  max-width: 960px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-radio-group-label {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 4px;
  letter-spacing: 0.1px;
}

mat-radio-button {
  margin-bottom: 1px;
}

mat-form-field {
  width: 70%;
  margin-top: 10px;
}

.bottom-content {
  padding-top:10px;
}

.example-card {
  max-width: 150px;
}

p {
  margin-bottom: 0;
}

