<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <hr>
  Value: {{ profileForm.value | json }}
  <hr>
<div class="container">
<mat-form-field appearance="fill">
  <mat-label>Student</mat-label>
  <mat-select formControlName="studentId">
    <mat-option *ngFor="let student of students" [value]="student.id">{{student.name}}</mat-option>
  </mat-select>
</mat-form-field>
<label id="example-radio-group-label">Participation</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" formControlName="participation">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
  <mat-radio-button value="3">Option 3</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">Technical skills</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" formControlName="techSkills">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
  <mat-radio-button value="3">Option 3</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">Learning pace</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" formControlName="learningPace">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
  <mat-radio-button value="3">Option 3</mat-radio-button>
</mat-radio-group>
<label id="example-radio-group-label">Extra mile</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" formControlName="extraMile">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
  <mat-radio-button value="3">Option 3</mat-radio-button>
</mat-radio-group>
<mat-form-field appearance="fill">
  <mat-label>Comment</mat-label>
  <textarea matInput formControlName="comment"></textarea>
</mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</div>
</form>
