.container {
  min-height: 600px;
}

form {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go-button{
  margin-left: 10px;
}

.navbar{
  font-size: 1.5em;
}

.admin-button{
  position: absolute;
  right: 250px;
  top: 100px;
}
