.grid-container {
  //width: 900px;
  display: grid;
  grid-template-columns: minmax(70px, 1fr) minmax(70px, 1.5fr) minmax(70px, 2.5fr);
  grid-template-rows: minmax(35px, 1fr) minmax(70px, 1fr);
  gap: 0 0;
  grid-template-areas:
    "image name name"
    "image prefs evaluations";
  img {
    grid-area: image;
    min-width: 45px;
    width: 100%;
    margin: auto 0;
  }

  .name {
    grid-area: name;
    padding-left: 16px;
    margin: auto auto 2px 0;
  }

  .prefs {
    grid-area: prefs;
    padding-left: 16px;
  }

  .evaluations {
    grid-area: evaluations;
    padding-left: 16px;
  }
}

.wrapper {
  min-height: 100%;
  #comments-header {
    margin: 20px auto;
  }
}



img {
  width: 100px;
}
.stream-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.stream {
  margin-right: 5px;
  margin-left: 5px;
}
#top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}

mat-spinner {
  margin: 200px auto auto auto;
}

h3 {
  font-weight: 700;
}

::ng-deep mat-tab-header {
  align-self: center;
}

mat-list, mat-list-item {
  width: 100%;
}

mat-list-item, .comment-absent, i {
  margin: 12px auto;
  padding-right: 20px;
}

.grid-container {
  padding: 12px 0 24px 0;
}
