img {
  width: 100px;
  border-radius: 50%;
}
.stream-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.stream {
  margin-right: 5px;
  margin-left: 5px;
}
#top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}

mat-spinner {
  margin: auto;
}

h3 {
  font-weight: 700;
}
